[submodule "src/lib/mini-pdf"]
	path = src/lib/mini-pdf
	url = git@github.com:signalwerk/mini-pdf.git
[submodule "modules/modules"]
	path = modules/modules
	url = https://github.com/signalwerk/paramatters.lib.git
