[submodule "modules/paramatters.lib"]
	path = modules/paramatters.lib
	url = https://github.com/signalwerk/paramatters.lib.git
[submodule "modules/mini-pdf"]
	path = modules/mini-pdf
	url = git@github.com:signalwerk/mini-pdf.git
